include Pipfile
include requirements.txt
include dev-requirements.txt
include LICENSE
include MANIFEST.in
include README.md
include TODO.md
include CHANGES.md
recursive-include test *py
include test/*txt
