[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
plotille = "*"

[dev-packages]
coverage = "*"
isort = "*"
black = "==20.8b1"
flake8 = "*"
pydocstyle = "*"
pytest = "*"
pytest-clarity = "==1.0.1"
pytest-cov = "*"
pytest-sugar = "*"

[requires]
python_version = "3.8"
