# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
    - name: Lint with flake8, black, isort, pydocstyle
      run: |
        flake8 bashplot/ --count --statistic
        black . --check -v
        isort . --check -v
        flake8 . --count --exit-zero --max-complexity=10 --statistics
        pydocstyle --convention=numpy -e bashplot/bashplot.py
    - name: Install bashplot
      run: |
        pip install .
    - name: Test with pytest and coverage
      run: |
        coverage run -m pytest -vv
        coverage report -m
        coverage xml
    - name: Codecov
      uses: codecov/codecov-action@v1.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,PYTHON
