# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Lint with flake8, black, isort, pydocstyle
        run: |
          poetry run flake8 bashplot/ --count --statistic
          poetry run black . --check -v
          poetry run isort . --check -v
          poetry run flake8 . --count --exit-zero --max-complexity=10 --statistics
          poetry run pydocstyle --convention=numpy -e bashplot/bashplot.py
      - name: Test with pytest and coverage
        run: |
          poetry run coverage run -m pytest -vv
          poetry run coverage report -m
          poetry run coverage xml
      - name: Codecov
        uses: codecov/codecov-action@v5.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,PYTHON
